<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI7BWWvW82M6PPKL4amJs6omFoTSQV9XU</string>
	<key>GCM_SENDER_ID</key>
	<string>526586160542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.id.rsuwiradadihusada.antrianWiradadi</string>
	<key>PROJECT_ID</key>
	<string>antrian-mobile-9a45b</string>
	<key>STORAGE_BUCKET</key>
	<string>antrian-mobile-9a45b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526586160542:ios:ad09e2f8b660414af2628f</string>
</dict>
</plist>